default_language_version:
  python: python3.10
fail_fast: true

# We can't use local hooks since some developers use dev containers and commit outside an environment which has the
# required dependencies installed.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-json # checks JSON files for parseable syntax.
      - id: check-yaml # checks yaml files for parseable syntax.
      - id: end-of-file-fixer # ensures that a file is either empty, or ends with one newline.
      - id: trailing-whitespace # trims trailing whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Please keep these aligned with the versions defined in the pyproject.toml dependency-groups
    rev: v0.8.4
    hooks:
      # Run the linter (includes isort).
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    # Please keep these aligned with the versions defined in the pyproject.toml dependency-groups
    rev: "v1.1.1"
    hooks:
      - id: mypy
        args:
          - "--ignore-missing-imports"
        additional_dependencies:
          - types-aiofiles==23.1.0.2
          - "types-tabulate~=0.9.0"
          - "types-requests~=2.28.11"
        #   - "types-Markdown~=3.4.2"
        #   - "types-PyYAML~=6.0.12"
        #   - "types-python-dateutil~=2.8.19"
        #   - "types-redis~=4.5.1"

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.16.1
    hooks:
      - id: gitleaks
