name: CI

on:
  pull_request:

permissions:
  pull-requests: write
  contents: write

jobs:
  format:
    name: Format with ruff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync --group code-quality
      - name: Run ruff format
        run: make format

  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync --group code-quality
      - name: Run ruff check
        run: make lint

  mypy:
    name: Type checking with mypy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync --group code-quality
      - name: Run mypy
        run: make types

  scan-for-secrets:
    name: Scan for secrets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Install gitleaks
        run: wget -O - https://github.com/gitleaks/gitleaks/releases/download/v8.16.1/gitleaks_8.16.1_linux_x64.tar.gz | tar -xz
      - run: ./gitleaks detect --log-opts "${{  github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}"
        if: github.event_name == 'pull_request'
      - run: ./gitleaks detect --log-opts "${{  github.event.before }}..${{ github.event.after }}"
        if: github.event_name == 'push'

  tests:
    name: Tests
    runs-on: ubuntu-latest
    env:
      API_KEY: "not-a-real-api-key"
    steps:
      - uses: actions/checkout@v5
        with:
          # for coverage comment action
          fetch-depth: 1000
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Install dependencies
        run: uv sync --group test
      - name: Run unit tests
        run: make tests-with-cov
      - name: Coverage comment
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@91910686861e4e1d8282a267a896eb39d46240fb
        with:
          GITHUB_TOKEN: ${{ github.token }}
