name: CD - Prod Integration Tests

on:
  workflow_dispatch:
    inputs:
      api_url:
        required: false
        default: "https://api.cloud.deepset.ai/api/v1"
        type: string
        description: "The API URL for the test run"

jobs:
  tests:
    name: Tests
    environment: PROD
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run integration tests
        uses: ./.github/actions/integration_tests
        with:
          API_KEY: "${{secrets.API_KEY}}"
          API_URL: ${{ inputs.api_url }}
