name: CD - Dev Integration Tests

on:
  workflow_dispatch:
    inputs:
      api_url:
        required: true
        default: https://api.dev.cloud.dpst.dev/api/v1
        type: string
        description: "The API URL for the test run"

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run integration tests
        uses: ./.github/actions/integration_tests
        with:
          API_KEY: "${{secrets.API_KEY}}"
          API_URL: "${{inputs.api_url}}"
