name: Deploy to Prod PyPi

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  id-token: write

jobs:
  deploy-prod:
    runs-on: ubuntu-latest
    environment: release
    env:
      pypi: ${{ vars.PYPI_URL }}
    steps:
    - uses: actions/checkout@v6
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: "3.10"
    - name: Bump Version
      run: |
        sed -i 's/^version = .*/version = "${{github.ref_name}}"/' pyproject.toml
    - name: Build
      run: make build
    - name: publish
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: ${{env.pypi}}
