name: Deploy

on:
  workflow_call:
    inputs:
      deployment_env:
        required: true
        type: string
      api_url:
        required: true
        default: https://api.dev.cloud.dpst.dev/api/v1
        type: string
      version:
        required: true
        type: string

permissions:
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{inputs.deployment_env}}
    env:
      pypi: ${{ vars.PYPI_URL }}

    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Bump version in pyproject.toml
        run: |
          sed -i 's/^version = .*/version = "${{ inputs.version }}"/' pyproject.toml
      - name: Build
        run: make build
      - name: publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{env.pypi}}
