name: Deploy

on:
  workflow_call:
    inputs:
      deployment_env:
        required: true
        type: string
      api_url:
        required: true
        default: https://api.dev.cloud.dpst.dev/api/v1
        type: string
      version:
        required: true
        type: string

permissions:
  id-token: write

env:
  HATCH_VERSION: "v1.14.0" # keep in sync with continuous-integration.yml

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: ${{inputs.deployment_env}}
    env:
      pypi: ${{ vars.PYPI_URL }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
         python-version: "3.10"
      - name: Install Hatch
        run: pip install hatch==${{ env.HATCH_VERSION }}
      - name: Bump version
        # Bump version to Github action tag
        run: hatch version ${{ inputs.version }}
      - name: Build
        run: hatch build
      - name: publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: ${{env.pypi}}
