name: Deploy to Test PyPi

on:
  pull_request:
    types:
      - labeled
  workflow_dispatch:

jobs:
  deploy-test:
    if: ${{ github.event.label.name == 'test-deploy' }} || github.event.label.name !='integration'`
    uses: ./.github/workflows/deploy.yml
    with:
      deployment_env: test
      api_url: "https://api.dev.cloud.dpst.dev/api/v1"
    secrets: inherit
