name: Merge Queue

on:
  merge_group:
  pull_request:
    types: [labeled, synchronize]
  workflow_call:
    inputs:
      api_url:
        required: true
        type: string
      deployment_env:
        required: true
        type: string
    secrets:
      API_KEY:
        required: true

jobs:
  # the API_KEYs are stored as a secret in the repository
  # we are using the "automated-tests" organization with predefined users and workspaces
  integration_tests:
    name: Tests
    environment: ${{ github.event.inputs.deployment_env }}
    runs-on: ubuntu-latest
    if: (github.event.action =='labeled' && github.event.label.name =='integration') || (github.event.action =='synchronize' && contains(github.event.pull_request.labels.*.name, 'integration')) || github.event.action =='workflow_call' || github.event_name == 'merge_group'
    steps:
      - uses: actions/checkout@v6
      - name: Run integration tests
        uses: ./.github/actions/integration_tests
        with:
          API_KEY: "${{ inputs.deployment_env == 'release' && secrets.API_KEY_PROD || secrets.API_KEY}}"
          API_URL: "${{ inputs.api_url || 'https://api.dev.cloud.dpst.dev/api/v1'}}"

  build:
    name: Build package
    needs: [integration_tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.10"
      - name: Build
        run: make build
